//! **************************************************************************
// Written by: Map P.20131013 on Wed Dec 16 22:30:56 2020
//! **************************************************************************

SCHEMATIC START;
COMP "SW_DOWN_P48" LOCATE = SITE "P48" LEVEL 1;
PIN SW_DOWN_P48_pin<0> = BEL "SW_DOWN_P48" PINNAME PAD;
PIN "SW_DOWN_P48_pin<0>" CLOCK_DEDICATED_ROUTE;
COMP "SW_MODE_P58" LOCATE = SITE "P58" LEVEL 1;
COMP "SW_UP_P47" LOCATE = SITE "P47" LEVEL 1;
PIN SW_UP_P47_pin<0> = BEL "SW_UP_P47" PINNAME PAD;
PIN "SW_UP_P47_pin<0>" CLOCK_DEDICATED_ROUTE;
COMP "COM<0>" LOCATE = SITE "P30" LEVEL 1;
COMP "COM<1>" LOCATE = SITE "P33" LEVEL 1;
COMP "COM<2>" LOCATE = SITE "P43" LEVEL 1;
COMP "COM<3>" LOCATE = SITE "P44" LEVEL 1;
COMP "SEG<0>" LOCATE = SITE "P41" LEVEL 1;
COMP "SEG<1>" LOCATE = SITE "P40" LEVEL 1;
COMP "SEG<2>" LOCATE = SITE "P35" LEVEL 1;
COMP "SEG<3>" LOCATE = SITE "P34" LEVEL 1;
COMP "SEG<4>" LOCATE = SITE "P32" LEVEL 1;
COMP "SEG<5>" LOCATE = SITE "P29" LEVEL 1;
COMP "SEG<6>" LOCATE = SITE "P27" LEVEL 1;
COMP "ESP_CLK_P11" LOCATE = SITE "P11" LEVEL 1;
PIN ESP_CLK_P11_pin<0> = BEL "ESP_CLK_P11" PINNAME PAD;
PIN "ESP_CLK_P11_pin<0>" CLOCK_DEDICATED_ROUTE;
COMP "ESP_CLK_P23" LOCATE = SITE "P23" LEVEL 1;
PIN ESP_CLK_P23_pin<0> = BEL "ESP_CLK_P23" PINNAME PAD;
PIN "ESP_CLK_P23_pin<0>" CLOCK_DEDICATED_ROUTE;
COMP "ESP_CLK_P16" LOCATE = SITE "P16" LEVEL 1;
PIN ESP_CLK_P16_pin<0> = BEL "ESP_CLK_P16" PINNAME PAD;
PIN "ESP_CLK_P16_pin<0>" CLOCK_DEDICATED_ROUTE;
COMP "PWM_Servo0" LOCATE = SITE "P142" LEVEL 1;
COMP "PWM_Servo1" LOCATE = SITE "P1" LEVEL 1;
COMP "PWM_Servo2" LOCATE = SITE "P132" LEVEL 1;
COMP "PWM_Servo3" LOCATE = SITE "P134" LEVEL 1;
COMP "PWM_Servo4" LOCATE = SITE "P138" LEVEL 1;
COMP "ESP_CLK_P7" LOCATE = SITE "P7" LEVEL 1;
PIN ESP_CLK_P7_pin<0> = BEL "ESP_CLK_P7" PINNAME PAD;
PIN "ESP_CLK_P7_pin<0>" CLOCK_DEDICATED_ROUTE;
COMP "ESP_CLK_P8" LOCATE = SITE "P8" LEVEL 1;
PIN ESP_CLK_P8_pin<0> = BEL "ESP_CLK_P8" PINNAME PAD;
PIN "ESP_CLK_P8_pin<0>" CLOCK_DEDICATED_ROUTE;
COMP "ESP_IN_P21" LOCATE = SITE "P21" LEVEL 1;
PIN ESP_IN_P21_pin<0> = BEL "ESP_IN_P21" PINNAME PAD;
PIN "ESP_IN_P21_pin<0>" CLOCK_DEDICATED_ROUTE;
COMP "ESP_IN_P14" LOCATE = SITE "P14" LEVEL 1;
PIN ESP_IN_P14_pin<0> = BEL "ESP_IN_P14" PINNAME PAD;
PIN "ESP_IN_P14_pin<0>" CLOCK_DEDICATED_ROUTE;
COMP "LED0_P67" LOCATE = SITE "P67" LEVEL 1;
COMP "LED1_P74" LOCATE = SITE "P74" LEVEL 1;
COMP "CLK_P123" LOCATE = SITE "P123" LEVEL 1;
COMP "LED2_P75" LOCATE = SITE "P75" LEVEL 1;
COMP "LED3_P78" LOCATE = SITE "P78" LEVEL 1;
COMP "LED4_P79" LOCATE = SITE "P79" LEVEL 1;
COMP "LED5_P80" LOCATE = SITE "P80" LEVEL 1;
COMP "LED6_P81" LOCATE = SITE "P81" LEVEL 1;
COMP "LED7_P82" LOCATE = SITE "P82" LEVEL 1;
COMP "ESP_IN_P5" LOCATE = SITE "P5" LEVEL 1;
PIN ESP_IN_P5_pin<0> = BEL "ESP_IN_P5" PINNAME PAD;
PIN "ESP_IN_P5_pin<0>" CLOCK_DEDICATED_ROUTE;
COMP "ESP_IN_P6" LOCATE = SITE "P6" LEVEL 1;
PIN ESP_IN_P6_pin<0> = BEL "ESP_IN_P6" PINNAME PAD;
PIN "ESP_IN_P6_pin<0>" CLOCK_DEDICATED_ROUTE;
COMP "ESP_IN_P9" LOCATE = SITE "P9" LEVEL 1;
PIN ESP_IN_P9_pin<0> = BEL "ESP_IN_P9" PINNAME PAD;
PIN "ESP_IN_P9_pin<0>" CLOCK_DEDICATED_ROUTE;
COMP "SEL_P45" LOCATE = SITE "P45" LEVEL 1;
PIN SEL_P45_pin<0> = BEL "SEL_P45" PINNAME PAD;
PIN "SEL_P45_pin<0>" CLOCK_DEDICATED_ROUTE;
SCHEMATIC END;

