
NET "CLK_P123" LOC = P123;
NET "SEL_P45" LOC = P45;

NET "ESP_IN_P5" LOC = P5;
NET "ESP_CLK_P7" LOC = P7;
NET "ESP_IN_P9" LOC = P9;
NET "ESP_CLK_P11" LOC = P11;
NET "ESP_IN_P14" LOC = P14;
NET "ESP_CLK_P16" LOC = P16;
NET "ESP_IN_P21" LOC = P21;
NET "ESP_CLK_P23" LOC = P23;
NET "ESP_IN_P6" LOC = P6;
NET "ESP_CLK_P8" LOC = P8;

NET "PWM_Servo0" LOC = P142;
NET "PWM_Servo1" LOC = P1;
NET "PWM_Servo2" LOC = P132;
NET "PWM_Servo3" LOC = P134;
NET "PWM_Servo4" LOC = P138;

NET "SEG[0]" LOC = P41;
NET "SEG[1]" LOC = P40;
NET "SEG[2]" LOC = P35;
NET "SEG[3]" LOC = P34;
NET "SEG[4]" LOC = P32;
NET "SEG[5]" LOC = P29;
NET "SEG[6]" LOC = P27;

NET "COM[0]" LOC = P30;
NET "COM[1]" LOC = P33;
NET "COM[2]" LOC = P43;
NET "COM[3]" LOC = P44;
///////////////////////////////////////
//NET "SEG[0]" LOC = P41;
//NET "SEG[1]" LOC = P40;
//NET "SEG[2]" LOC = P35;
//NET "SEG[3]" LOC = P34;
//NET "SEG[4]" LOC = P32;
//NET "SEG[5]" LOC = P29;
//NET "SEG[6]" LOC = P27;

//NET "COM[0]" LOC = P30;
//NET "COM[1]" LOC = P33;
//NET "COM[2]" LOC = P43;
//NET "COM[3]" LOC = P44;

# PlanAhead Generated physical constraints 

NET "LED0_P67" LOC = P67;
NET "LED1_P74" LOC = P74;
NET "LED2_P75" LOC = P75;
NET "LED3_P78" LOC = P78;
NET "LED4_P79" LOC = P79;
NET "LED5_P80" LOC = P80;
NET "LED6_P81" LOC = P81;
NET "LED7_P82" LOC = P82;
