
# PlanAhead Generated physical constraints 

#NET "LED[0]" LOC = P82;
#NET "LED[1]" LOC = P81;
#NET "LED[2]" LOC = P80;
#NET "LED[3]" LOC = P79;
#NET "LED[4]" LOC = P78;
#NET "LED[5]" LOC = P75;
#NET "LED[6]" LOC = P74;
#NET "LED[7]" LOC = P67;

#NET "CLK" LOC = P23;
#NET "DATA_P45" LOC = P5;

NET "OUTPIN" LOC = P6;
NET "FPGACLK_P123" LOC = P123;

NET "XLXN_20[0]" LOC = P55;
NET "XLXN_20[1]" LOC = P56;